<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="icon" type="image/png" src="/static/mclogo.png" />
    <style>
    @import url("/static/style.css");
    </style>
  </head>
  <body>
    <div id="top">
  <a href="/"><img src="/static/mclogo.png" style="aspect-ratio: 1 / 1; border-radius: 50%;" alt="Miniclub Logo"/></a>
  <div id="headtop">
  <h1>
    Miniclub
  </h1>
  Home of small and good sites
  </div>
</div>
    <h1>Error</h1>
    <hr>
    <h3>{{ text }}</h3>
    <p>You may return to the homepage by clicking the Miniclub logo.</p>
  </body>
</html>
