<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Error</title>
	</head>
	<body>
		<h1>Flaskring Error</h1>
		<h3>{{ text }}</h3>
	</body>
</html>
