<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Miniclub</title>
    <link rel="icon" type="image/png" src="/static/mclogo.png" />
    <style>
    @import url("/static/style.css");
    </style>
  </head>
  <body>
    <div id="top">
  <a href="/"><img src="/static/mclogo.png" style="aspect-ratio: 1 / 1; border-radius: 50%;" alt="Miniclub Logo"/></a>
  <div id="headtop">
  <h1>
    Miniclub
  </h1>
  Home of small and good sites
  </div>
</div>
    <h1>Sites</h1>
    <ul>
    {% for site in sites %}
	    <li><a href="https://{{ site.url }}">{{ site.name }}</a></li>
    {% endfor %}
    </ul>
    <details><summary><h1 id="join" style="border: none; cursor: pointer;" aria-label="How do I join? Click to open">How do I join? ↓</h1></summary>
    <h2 id="rules">The rules</h2>
    <h3><b>Keep it Friendly</b></h3>
    <p>If there are any -isms (reverse-isms are not counted), any NSFW content, or illegal content. Websites will be declined if any of the above criteria are met.</p>
    <h3><b>Rule of Least Power</b></h3>
    <p>Use HTML, CSS, scripting (JS or serverside)-in that order-to do things. Use the ones more to the beginning of the list to do things.</p>
    <h3><b>Optimize it</b></h3>
    <p>Your website must have a Lighthouse accessibility and best practices score of 100 and a performance score over 90. Every file must also be compressed reasonably, and support for older browsers is not required.</p>
    <h3><b>Styled to the Nines</b></h3>
    <p>Your CSS needs to be really robust. If it relies on finicky browser-specific things, doesn't import fonts, doesn't have different media queries, etc... it won't be accepted.</p>
    <h3><b>Accessible for All</b></h3>
    <p>Everything in your website should be accessible so that it's not a pain to look at or interact with. This includes hiding longer text that's less important.</p>
    <h3><b>Free for All</b></h3>
    <p>If the site's not open source software, it won't be accepted. Period.</p>
    <h2>Done with that?</h2>
    <h3><b>You're ready to join Miniclub?</b></h3>
    <p>Awesome! Click <a href="https://codeberg.org/foreverxml/miniclub/issues/new?template=add.md" target="_blank">this link</a> and you're on your way to joining Miniclub. Congrats!</p>
    </details>
    <h1>Why'd you make this?</h1>
    <p>Because the current Web is over-bloated with JavaScript. It makes computers crash, tracks you around the web, and more. Miniclub is a set of websites that <b>don't</b> do that.</p>
    <hr>
    Do you want to see who joined Miniclub? Follow the <a href="https://stickynote.amongtech.cc/miniclub-blog">Miniclub blog</a> with <a href="https://stickynote.amongtech.cc/miniclub-blog/feed">RSS</a>! Updating links is unnessescary, as we use <a href="https://codeberg.org/amongtech/flaskring">Flaskring</a> to manage this webring.
  </body>
</html>
