<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Flaskring Webring</title>
	</head>
	<body>
		<h1>Flaskring Webring</h1>
		<ul>
		{% for site in sites %}
	    		<li><a href="https://{{ site.url }}">{{ site.name }}</a></li>
		{% endfor %}
		</ul>
	</body>
</html>
